RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category/([a-zA-Z0-9_-]+)$ index.php?page=category&slug=$1
RewriteRule ^profile/([a-zA-Z0-9_-]+)$ index.php?page=profile&username=$1
RewriteRule ^profile/([a-zA-Z0-9_-]+)/$ index.php?page=profile&username=$1
RewriteRule ^profile/([a-zA-Z0-9_-]+)/([a-z]+)$ index.php?page=profile&username=$1&tab=$2
RewriteRule ^post/([a-zA-Z0-9_-]+)$ index.php?page=post&slug=$1
RewriteRule ^edit/([a-zA-Z0-9_-]+)$ index.php?page=edit&slug=$1
RewriteRule ^sitemap.xml$ sitemap.php
RewriteRule ^([^\.]+)$ index.php?page=$1 [NC,L]